h1{
    color: blue;
}

p{
    background-color: yellow;
}

table th, table td{
    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.bg-green{
    background-color: green;
}

#bg-foot-grey{
    background-color: grey;
}

/* Path: css/style2.css */